<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Review</h1>
    <% if (bookData) { %>
        <div>
            <h2><%= bookData.book.title %></h2>
            <img src="<%= bookData.book.image %>" alt="<%= bookData.book.title %>">
            <p><%= bookData.book.description %></p>
            <p>Author: <%= bookData.book.author %></p>
            <p>Rating: <%= bookData.book.rating %></p>
        </div>
    <% } else { %>
        <p>No book found</p>
    <% } %>
</body>
</html>